- var n1 = 1;
- var n1 = 1;
- var n2 = 1;
- var n3 = 1;
- var n4 = 1;
- var n5 = 1;
- var n6 = 1;
- var n7 = 1;
- var n8 = 1;
- var n9 = 1;
- var n10 = 1;
- var n11 = 1;
section.promo__group.promo__group--tab
  .tab--bg
    .layout--main
      ul.tab__wrap
        li.tab__zone
          p.pre__order__date 預購日期
          ul#tabBox.tab__box
            li.tab__item.active
              p 110年2月
              p 10
                span (三)
            li.tab__item
              p 110年2月
              p 11
                span (四)
            li.tab__item
              p 110年2月
              p 12
                span (五)
            li.tab__item
              p 110年2月
              p 13
                span (六)
            li.tab__item
              p 110年2月
              p 14
                span (日)
            li.tab__item
              p 110年2月
              p 15
                span (一)
            li.tab__item
              p 110年2月
              p 16
                span (二)
            li.tab__item
              p 110年2月
              p 17
                span (三)
            li.tab__item
              p 110年2月
              p 18
                span (四)
            li.tab__item
              p 110年2月
              p 19
                span (五)
            li.tab__item
              p 110年2月
              p 20
                span (六)
        li.content__zone
          ul#tabContentBlock.content__block
            li.content__box.active
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n1 < 50
                        span.lotto__num= n1++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")



            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n2 < 50
                        span.lotto__num= n2++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n3 < 50
                        span.lotto__num= n3++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n4 < 50
                        span.lotto__num= n4++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n5 < 50
                        span.lotto__num= n5++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n6 < 50
                        span.lotto__num= n6++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n7 < 50
                        span.lotto__num= n7++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n8 < 50
                        span.lotto__num= n8++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n9 < 50
                        span.lotto__num= n9++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n10 < 50
                        span.lotto__num= n10++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
            li.content__box
              .tab__zone
                ul.tab__box_sub
                  li.js--tab__item_sub.tab__item_sub.active 自選號碼
                  li.js--tab__item_sub.tab__item_sub 系統號碼
              .content__zone
                ul.content__block
                  li.js--content__box_sub.content__box_sub.active
                    .lotto__number__group
                      while n11 < 50
                        span.lotto__num= n11++
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")
                  li.js--content__box_sub.content__box_sub
                    .lotto__system__num
                      span 10
                    img.but__50(src="~event/1st/e-main/components/tab-section/but-50.png")



