-
  var tabContent1 = [
    {
      link: "https://www.etmall.com.tw/c3/97100" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-1.png",
      alt: "春暖花開 女神歸來",
    },
    {
      link: "https://www.etmall.com.tw/gp/138084" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-2.png",
      alt: "國營口碑保養75折up",
    },
    {
      link: "https://www.etmall.com.tw/p/159720" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-3.png",
      alt: "滿$888送擴香瓶",
    },
    {
      link: "https://www.etmall.com.tw/p/163518" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-4.png",
      alt: "人氣面膜1片$9.9UP",
    },
    {
      link: "https://www.etmall.com.tw/bs/164655" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-5.png",
      alt: "高效科研 進化保養",
    },
    {
      link: "https://www.etmall.com.tw/gp/136495" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-1-6.png",
      alt: "日本醫美品牌破盤1折up",
    },
  ]
-
  var tabContent2 = [
    {
      link: "https://www.etmall.com.tw/p/164865" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-1.png",
      alt: "康寧▼全館滿$2000 再折$200",
    },
    {
      link: "https://www.etmall.com.tw/c3/17570" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-2.png",
      alt: "舒酸定品牌狂歡慶",
    },
    {
      link: "https://www.etmall.com.tw/p/164277" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-3.png",
      alt: "春夏新品 滿額大FUN送",
    },
    {
      link: "https://www.etmall.com.tw/gp/165291" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-4.png",
      alt: "春夏涼墊新上市6折up",
    },
    {
      link: "https://media.etmall.com.tw/sp/13655/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-5.png",
      alt: "春遊零食大放送",
    },
    {
      link: "https://media.etmall.com.tw/sp/13292/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-2-6.png",
      alt: "暖春好咖賞★滿額好禮大FUN送",
    },
  ]

-
  var tabContent3 = [
    {
      link: "https://media.etmall.com.tw/sp/11387/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-1.png",
      alt: "好康7折起",
    },
    {
      link: "https://media.etmall.com.tw/sp/13371/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-2.png",
      alt: "S22系列登錄送原廠好禮",
    },
    {
      link: "https://www.etmall.com.tw/c2/166122" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-3.png",
      alt: "全新Pro 8系列機種開賣",
    },
    {
      link: "https://www.etmall.com.tw/gp/164717" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-4.png",
      alt: "微星指定創作者系列筆電送1000禮卷",
    },
    {
      link: "https://media.etmall.com.tw/sp/13735/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-5.png",
      alt: "限時94折起",
    },
    {
      link: "https://media.etmall.com.tw/sp/4369/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-3-6.png",
      alt: "歡樂74折起",
    },
  ]

-
  var tabContent4 = [
    {
      link: "https://www.etmall.com.tw/p/163945" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-1.png",
      alt: "滿額送好禮",
    },
    {
      link: "https://media.etmall.com.tw/sp/13656/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-2.png",
      alt: "品牌週★滿額好禮雙重送",
    },
    {
      link: "https://www.etmall.com.tw/gp/163595" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-3.png",
      alt: "健康補給站7折UP",
    },
    {
      link: "https://www.etmall.com.tw/c3/162067" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-4.png",
      alt: "美麗5折up",
    },
    {
      link: "https://www.etmall.com.tw/gp/163423" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-5.png",
      alt: "春天黃金成長期 45折up",
    },
    {
      link: "https://www.etmall.com.tw/p/156031" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-4-6.png",
      alt: "韓版口罩任選4盒520",
    },
  ]

-
  var tabContent5 = [
    {
      link: "https://media.etmall.com.tw/sp/13596/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-1.png",
      alt: "女王盛宴3折起",
    },
    {
      link: "https://www.etmall.com.tw/gp/104158" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-2.png",
      alt: "國民品牌 男內衣褲/男女襪$49/件up",
    },
    {
      link: "https://www.etmall.com.tw/gp/162470" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-3.png",
      alt: "NIKE Air Max new arrival",
    },
    {
      link: "https://www.etmall.com.tw/c2/55924" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-4.png",
      alt: "GUCCI春夏熱銷6折起",
    },
    {
      link: "https://www.etmall.com.tw/c2/127151" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-5.png",
      alt: "2022春新品同步上市",
    },
    {
      link: "https://www.etmall.com.tw/gp/145754" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-5-6.png",
      alt: "彩糖鑽 項鍊戒指27,520元起",
    },
  ]

-
  var tabContent6 = [
    {
      link: "https://media.etmall.com.tw/sp/10669/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-1.png",
      alt: "滿額最高送美髮造型器+10%東森幣",
    },
    {
      link: "https://media.etmall.com.tw/sp/10320/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-2.png",
      alt: "指定燈具 滿$2999登記抽殺菌燈",
    },
    {
      link: "https://media.etmall.com.tw/sp/11958/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-3.png",
      alt: "滿額送BRUNO美型電烤盤",
    },
    {
      link: "https://media.etmall.com.tw/sp/10222/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-4.png",
      alt: "滿額最高送5888提貨卷",
    },
    {
      link: "https://media.etmall.com.tw/sp/9421/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-5.png",
      alt: "廚電5折up，滿額最高送小家電+10%東森幣",
    },
    {
      link: "https://media.etmall.com.tw/sp/10615/m/index.html" ,
      imgSrc: "event/1st/e-main/components/tab-section/items/item/tab-item-6-6.png",
      alt: "精彩好禮六選一",
    },
  ]

section.promo__group.promo__group--tab-section.m-bottom--lg(data-title="品牌推薦")
  .layout--main
    .decor__wrap
      .decor__item#decorTabSection
        img(src="event/1st/e-main/components/tab-section/decor-tab-flower.png", alt="")
      .decor__item#decorTabSection2
        img(src="event/1st/e-main/components/tab-section/decor-tab-flower-2.png", alt="")
    .promo__wrap
      .promo__zone 
        ul.tab__wrap
          li.tab__zone
            ul#tabBox.tab__box
              li.tab__item(title="美妝")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-1.png", alt="美妝")
                .tab__item--top.active
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-1-2.png", alt="美妝")
              li.tab__item(title="生活")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-2.png", alt="生活")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-2-2.png", alt="生活")
              li.tab__item(title="3C")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-3.png", alt="3C")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-3-2.png", alt="3C")
              li.tab__item(title="保健")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-4.png", alt="保健")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-4-2.png", alt="保健")
              li.tab__item(title="流行")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-5.png", alt="流行")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-5-2.png", alt="流行")
              li.tab__item(title="家電")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-6.png", alt="家電")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section/items/tab/tab-6-2.png", alt="家電")
          li.content__zone
            ul#tabContentBlock.content__block
              li.content__box.active
                .item__wrap
                  each data in tabContent1
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

              li.content__box
                .item__wrap
                  each data in tabContent2
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

              li.content__box
                .item__wrap
                  each data in tabContent3
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

              li.content__box
                .item__wrap
                  each data in tabContent4
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

              li.content__box
                .item__wrap
                  each data in tabContent5
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

              li.content__box
                .item__wrap
                  each data in tabContent6
                    .item__box
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

//- 版型結構
//- .product.product--dynamic
//-   a(href="data.網址", title="data.商品名")
//-     .product__block
//-       .product__intro
//-         .intro__date
//-           span 5
//-           span /
//-           span 28
//-       .product__img
//-         img.swiper-lazy(alt="", src="https://media.etmall.com.tw/nximg/002834/2834592/2834592-1_xxl.jpg")
//-       .product__text
//-         .product__brand
//-         .product__name
//-           span data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名
//-         .product__price
//-           span $
//-           span 888,888
