-
  var promoDataE = [
    {
      link: "https://media.etmall.com.tw/sp/10563/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-1.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-1-hover.png",
      alt: "指定銀行更優惠"
    },
    {
      link: "https://media.etmall.com.tw/sp/11694/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-2.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-2-hover.png",
      alt: "必敗攻略看這邊"
    },
    {
      link: "#note",
      imgSrc: "event/1st/e-main/components/promo-event/items//promo-3.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-3-hover.png",
      alt: "先領折價券再消費"
    },
    {
      link: "https://media.etmall.com.tw/sp/11482/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-4.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-4-hover.png",
      alt: "更多分期零利率"
    },
    {
      link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/2021115dbb1cb0",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-5.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-5-hover.png",
      alt: "新會員另外送！"
    },
    {
      link: "https://media.etmall.com.tw/sp/11936/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-6.png",
      imgHoverSrc: "event/1st/e-main/components/promo-event/items/promo-6-hover.png",
      alt: "社群限定照過來"
    },
  ]

section.promo__group.promo__group--promo-event.m-bottom--md
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href= promoDataE[0].link, title=promoDataE[0].alt)
              img(src= promoDataE[0].imgSrc, alt= promoDataE[0].alt)
              img(src= promoDataE[0].imgHoverSrc, alt= promoDataE[0].alt)
          .promo__box
            a(href= promoDataE[1].link, title=promoDataE[1].alt)
              img(src= promoDataE[1].imgSrc, alt= promoDataE[1].alt)
              img(src= promoDataE[1].imgHoverSrc, alt= promoDataE[1].alt)
            a(href= promoDataE[2].link, title=promoDataE[2].alt)
              img(src= promoDataE[2].imgSrc, alt= promoDataE[2].alt)
              img(src= promoDataE[2].imgHoverSrc, alt= promoDataE[2].alt)
        .promo__block
          .promo__box
            a(href= promoDataE[3].link, title=promoDataE[3].alt)
              img(src= promoDataE[3].imgSrc, alt= promoDataE[3].alt)
              img(src= promoDataE[3].imgHoverSrc, alt= promoDataE[3].alt)
        .promo__block
          .promo__box
            a(href= promoDataE[4].link, title=promoDataE[4].alt)
              img(src= promoDataE[4].imgSrc, alt= promoDataE[4].alt)
              img(src= promoDataE[4].imgHoverSrc, alt= promoDataE[4].alt)
          .promo__box
            a(href= promoDataE[5].link, title=promoDataE[5].alt)
              img(src= promoDataE[5].imgSrc, alt= promoDataE[5].alt)
              img(src= promoDataE[5].imgHoverSrc, alt= promoDataE[5].alt)
