//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//- 集點加價購
- var collectPointUrl = {etmall: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/20210367db50d5"}

- var collectPointLink = collectPointUrl.etmall
.promo__slider.collect__point(data-title="集點加價購")
  //.decoration--flower.move__2
  //  img#scrollDoubleSlider_2(src="~assets/img/scroll__tree.png", alt="")
  //.promo__style3--bg
  .layout--main
    section.collect__point__wrap-1
      #sliderCollectPoint-block1.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href= collectPointLink, title="集點加價購")
              img(src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-01-1.png", alt="集點加價購")

      //#sliderCollectPointPager-block1.collect__point-pager.swiper-pagination

    section.collect__point__wrap-2
      #sliderCollectPoint-block2.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href=collectPointLink, title="520枚東森幣")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-1.png", alt="520枚東森幣",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="契爾氏白泥面膜")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-2.png", alt="契爾氏白泥面膜",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="200元全站折價券")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-3.png", alt="200元全站折價券",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="Glico格力高Pocky餅乾棒")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-4.png", alt="Glico格力高Pocky餅乾棒",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="LinePoints300點")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-5.png", alt="LinePoints300點",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="華佗扶元堂鮮萃枸杞茶")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-6.png", alt="華佗扶元堂鮮萃枸杞茶",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="200枚東森幣")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-7.png", alt="200枚東森幣",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href=collectPointLink, title="AOC紫光殺菌除蟎機")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/collect__point/items/collect__point-promo-02-8.png", alt="AOC紫光殺菌除蟎機",src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
      #sliderCollectPointPager-block2.collect__point-pager-2.swiper-pagination